@import "tailwindcss";

html, body {
  max-width: 100vw;
  overflow-x: hidden;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #F3F5F5;
  color: var(--foreground);
  font-family: 'Manrope', sans-serif;
}


input, select, optgroup, textarea {
background-color: #2d3243;
}

.contect-form {
  background-color: #f3f5f5;
}
.contect-form::placeholder {
  color: #2d3243;
}
/* styles.css */
.photo-badge {
  padding: 2px 10px;
  /* ...other styles... */
}

.myFillAvailable {
  width: -webkit-fill-available;
}

.clickable {
  cursor: pointer;
}

.search-input {
  background-color: rgb(255 255 255 / 10%);
  backdrop-filter: blur(12px);
}

input::placeholder,
textarea::placeholder {
  color: #FFF;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {  /* Internet Explorer 10-11 */
  color: #FFF;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder { /* Microsoft Edge */
  color: #FFF;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder { /* Chrome, Safari, Opera */
  color: #FFF;
}

input::-moz-placeholder,
textarea::-moz-placeholder { /* Firefox 19+ */
  color: #FFF;
  opacity: 1;
}

input:-moz-placeholder,
textarea:-moz-placeholder { /* Firefox 4 - 18 */
  color: #FFF;
  opacity: 1;
}


.bg-footer {
  background-color: #16243e;
}

/* Dark Mode */
.dark-mode {
  background: #111 !important;
  color: white !important;
}

/* High Contrast */
.a11y-contrast {
  background: black !important;
  color: yellow !important;
}

/* Dyslexia-friendly Font */
.a11y-dyslexic {
  font-family: "OpenDyslexic", Arial, sans-serif !important;
}

.a11y-hide-images img {
  display: none !important;
}

/* Grayscale */
.grayscale {
  filter: grayscale(100%);
}

/* Highlighted Links */
.a11y-highlight-links a {
  background: yellow;
  padding: 2px 4px;
}

.a11y-pause-animations * {
  animation-play-state: paused !important;
  transition: none !important;
}


/* Large Cursor */
.a11y-large-cursor {
  cursor: url('../../public/cursor-large.png'), auto;
}

.a11y-bigtext body {
  font-size: 200%; /* change to 150% or 200% if needed */
  line-height: 1.6;
}

.a11y-bigtext * {
  letter-spacing: 0.2px;
}


/* ---- ACCESSIBILITY: Text Spacing ---- */

html.a11y-textspacing *,
html.a11y-textspacing *::before,
html.a11y-textspacing *::after {
  line-height: 1.8 !important;
  letter-spacing: 0.12em !important;
  word-spacing: 0.16em !important;
}


.btn {
  background: #e5e7eb;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid #ccc;
  font-size: 14px;
}



